<div class="footer">
    <div class="line"></div>
    <div class="footer-tab">
        <div class="stats">
            <span>Server Stats</span>
            <span>Location</span>
            <span>New York</span>
        </div>
        <div class="forecast">
            <span>Forecast</span>
            <span>today ☀️ </span>
            <span>tomorrow ☁️</span>
        </div>
    </div>
</div>