<h1> <a href="/">LOW←TECH MAGAZINE</a></h1>
<h3>
  <a href="/">This is a solar-powered website, which means it sometimes goes offline ☀️</a>
</h3>
<div class="links">
    <a href="/">
        <span class="purple">Home</span>
    </a>
  |
    <a href="/submit">
        <span class="yellow">Submit</span>
    </a>
  |
    <a href="/article">
        <span class="powderblue">Articles</span>
    </a>
</div>
<!-- <hr> -->
<div class="line"></div>